@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ChitAlka</h1>
    <p>Для работы полного функционала необходимо зарегестрироваться.</p>
</div>
